.contacts-container {
    min-height: 100vh;

    .contacts {
        min-height: 100vh;
        @include center;
        .contact-card {
            height: 300px;
            width: 20%;
            border: 3px solid $black;
            display: grid; 
            grid-template-columns: 0.1fr 1.9fr; 
            grid-template-rows: 0.4fr 1.8fr 0.8fr;
            grid-template-areas: 
              "header header"
              "logo txt"
              "footer footer"; 
          .header { 
            grid-area: header;
            @include center;
            background: $purple;
            border-bottom: 3px solid $black;
            color: $white;
            h2 {
                text-transform: uppercase;
            }
            }
          .logo { 
        grid-area: logo; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            margin-top: 10px;
            background-color: $pink;
            border-radius: 2000px;
            color: $white;
            height: 35px;
            width: 35px;
        }
    }
          .text-contact { 
        grid-area: txt;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 30px;
        flex-direction: column;
        background-color: $white;
        color: $pink;
        p {
            font-size: 1.1rem;
            text-align: left;
            color: $black;
            @include center;
            margin-top: 10px;
        }
    }
          .footer { 
        grid-area: footer; 
        @include center;
        background: $purple;
        border-top: 3px solid $black;
        i {
            font-size:1.9rem;
            color: $white;
            border-radius: 500px ;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
         }
    }

}