
.skills-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex: 1 0 25%;
    align-items: center;
    
        &:after {
            content: "";
            height: 700px;
            width: 700px;
            background: $color-3;
            border-radius: 100%;
            position: absolute;
            top: -700px;
            right: 650px;
            z-index: -10;
            animation: contactAnim 50s alternate infinite;
            @media screen and (max-width: 1700px){
                top: -700px;
                right: 500px;
            }
            @media screen and (max-width: 1600px){
                top: -700px;
                right: 400px;
            }
            @media screen and (max-width: 1400px){
                top: -700px;
                right: 200px;
            }
            @media screen and (max-width: 1200px){
                top: -650px;
                right: -350px;
            }
            @media screen and (max-width: 600px){
                display: none;
              }
    }
    
    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 25%;
    width: 100%;
    flex-wrap: wrap;
    @media screen and (max-width: 1200px) {
        width: 60%;
    }
}
.formation {
    flex: 1 0 25%;
    min-width: 260px;
    max-width: 280px;
    height: 600px;
    background: $color-3;
    border-radius: 35px;
    margin: 5px;
    padding: 26px 15px 30px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        height: 400px;
}
@media screen and (max-width: 500px) {
    height: 400px;
}
}

.languages {
    flex: 1 0 25%;
    min-width: 260px;
    max-width: 280px;
    height: 600px;
    background: $color-3;
    border-radius: 35px;
    margin: 5px;
    padding: 26px 15px 30px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        height: 400px;
    }
    @media screen and (max-width: 500px) {
        height: 400px;
    }
}
.soft-skills {
    flex: 1 0 25%;
    min-width: 260px;
    max-width: 280px;
    height: 600px;
    background: $color-3;
    border-radius: 35px;
    margin: 5px;
    padding: 26px 15px 30px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        height: 400px;
}
@media screen and (max-width: 500px) {
    height: 400px;
}
}
h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    @media screen and (max-width: 1200px) {
        font-size: 0.9rem;
}
@media screen and (max-width: 500px) {
    font-size: 0.8rem;
}
}
li {
    font-size: 1.1rem;
    color: $color-4;
    padding-bottom: 10px;
    @media screen and (max-width: 1200px) {
        font-size: 0.8rem    
}  
 @media screen and (max-width: 500px) {
    font-size: 0.7rem;
}
}
}
.tools {
    flex: 1 0 25%;
    min-width: 260px;
    max-width: 280px;
    height: 600px;
    background: $color-3;
    border-radius: 35px;
    margin: 5px;
    padding: 26px 15px 30px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        height: 400px;
}
@media screen and (max-width: 500px) {
    height: 400px;
}
}